.btn {
  background-color: #444;
  background-repeat: no-repeat;
  background-position: 50% 7px;
  background-size: auto 30px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 0.55rem;
  height: 38px;
  margin-bottom: 1.75rem;
  margin-left: 0.75rem;
  min-width: 70px;
  opacity: 0.85;
  padding: 0 0.75rem;
  position: relative;
  text-indent: -9999px;
  text-transform: uppercase;
  transition: 0.075s background-color ease-in-out, 0.075s box-shadow ease-in-out;
  vertical-align: top;
}
.btn:focus {
  outline: 0;
}
.btn:hover {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,0.5);
  opacity: 1;
}
.btn:after {
  bottom: -0.5rem;
  content: attr(title);
  left: 0;
  line-height: 1rem;
  opacity: 0;
  position: absolute;
  right: 0;
  text-indent: 0;
  transition: 0.075s bottom ease-in-out, 0.075s opacity ease-in-out;
  width: 100%;
}
.btn:hover:after {
  bottom: -1rem;
  opacity: 1;
}

.btnVr {
  display: none;
}
[data-supports-vr="true"] .btnVr {
  display: block;
}

.btnFs {
  background-color: rgba(70,147,217,0.85);
  background-image: url(../TemplateData/fullscreen.png);
}

.btnVrToggle {
  background-color: rgba(70,147,217,0.85);
  bcakground-image: url(../TemplateData/vr-icon-toggle.svg);
}
.btnVrToggle:after {
  background: rgb(33,73,110);
}
.btnVrToggle:focus {
  background-color: rgb(33,99,161);
}

.btnVrReset {
  background-color: #a6c;
  background-image: url(../TemplateData/vr-icon-reset-sensor.svg);
  min-width: 100px;
}
.btnVrReset:after {
  background: rgb(73,33,110);
}
.btnVrReset:focus {
  background-color: #637;
}

.canvas-wrapper {
  overflow: hidden;
}

/*.emscripten {
  width: 100%;
  height: 100%;
  position: absolute;
}
*/
